html{
    background-color: #001021;
    color: #ffffff;

}
#wrapper{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    max-width: 1366px;
    font-family: 'Lato', sans-serif;

}
nav{
    display: flex;
    justify-content: space-between;
}
h1 , h2{
    font-size: 4em;
    color: #ffffff;
    margin-top: 50px;
    font-family: 'Barlow', sans-serif;
    font-weight: lighter;    
}
ul{
    list-style: none;
    text-align: right;
    margin-top: 50px;
}
a{
    text-decoration: none;
    color: #ffffff ;
}
a:hover{
    color: #0097E3;
}
li{
    padding: 10px;
}
#description {
    line-height: 1.3;
    font-size: 1.2em;
    font-weight: lighter;
    position: absolute;
    bottom: 8%;
    width: 500px;
}
#imagelocation{
    position: absolute;
    bottom: 30%;
}

#location{
    position: absolute;
    right: 10px;
    bottom: 50px;
    color: #ffffff;
    font-size: 2em;
}

#map   {
    position: relative;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* star positoins */
#pittstar{
    position: absolute;
    right: 28%;
    top: 47%;
}
#tahoestar{
    position: absolute;
    left: 26%;
    top: 52%;
}
#capstar{
    position: absolute;
    right: 25%;
    top: 52%;
}
#hornstar{
    position: absolute;
    left: 24%;
    top: 49%;
}
#joshstar{
    position: absolute;
    top: 63%;
    left: 30%;
}

/* Animation the stars on hover */

@keyframes enlarge{
    from{
        transform: scale(1,1);
    }
    to{
        transform: scale(2.1,2.1);
    }
}
@keyframes rotation {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(259deg);
    }
}

.pins{
    animation: rotation 2s infinite linear;
    border: 2px #0097E3;
    
}
.pins:hover{
    /* animation-play-state: paused; */
    animation-name: enlarge;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
