header{
    /* background-color: #ff7800; */
    padding: 20px;
    text-align: left;
    color: #edf7fd;
    font-family: 'Open Sans', sans-serif;
}

body{
    background-image: linear-gradient(to right bottom, #000a29, #3f1b4c, #881c54, #c43440, #e06d06);        
    font-family: 'Roboto', sans-serif;
    width: 1200px;
    margin: auto
;} 

h1 , h2 {
    /* font-family: 'Bodoni Moda', serif; */
    color: #edf7fd;

}
ul {
    list-style-type: none;
}
li{
    /* padding: 10px; */
    /* text-align: left; */
}
main{
    display: flex;
}
section{
    padding: 20px;
    flex: auto;
}
footer{
    /* background-color: #000a29; */
    padding: 20px;
    color: #edf7fd;
    text-align: left;
}