header{
    text-align: left;
    color:  #c5d4ff;
    padding-top: 25px;
}

body{
    background: rgb(0,10,41);
    background: linear-gradient(135deg, rgba(0,10,41,1) 9%, rgba(136,28,84,1) 38%, rgba(196,52,64,1) 70%, rgba(255,120,0,1) 97%);   
    font-family: 'Open Sans', sans-serif; 
    margin: auto;
    height: 1000px;
} 
#wrapper {
    width: 1000px;
    margin: auto;
}
h1 , h2 {
    font-family: 'Roboto', sans-serif;
    color:  #c5d4ff;

}
li{
    padding: 5px;

}
ul {
    list-style-type: none;
    padding: 0px;

}
a{
    text-decoration: none;
    color: #edf7fd;

}
a:hover{
    color:  #7499fd;

}
main{
    display: flex;
}
section{
    flex: content;
    width: 400px;
    padding-top: 50px;
}
footer{
    color:  #c5d4ff;
    text-align: left;
    position: fixed;
    bottom: 0;
}
#email, #html {
    color: #edf7fd;

}
#email:hover, #html:hover{
    color:  #7499fd;

}

#banner{
    background-color: rgba(196,52,64,1);
    width: 800px;
    height: 250px;
    border-radius: 150px;
    box-shadow: 15px 15px 20px  rgb(0,10,41);
}

#banner div{
    width: 800px ;
    height: 250px;
    border-radius: 150px;
    background-color: rgba(196,52,64,1);
    /* opacity: 0.5; */
    transform: perspective(0px) rotateY(0deg);
}

#banner div:hover{
    background-color: rgba(0,10,41,1);
    transform: perspective(100px) rotateY(2205deg);
    transition: all 10s ease-out;
}