header{
    text-align: left;
    color: #edf7fd;
    font-family: 'Open Sans', sans-serif;
   
}

body{
    background: rgb(0,10,41);
    background: linear-gradient(135deg, rgba(0,10,41,1) 9%, rgba(136,28,84,1) 38%, rgba(196,52,64,1) 70%, rgba(255,120,0,1) 97%);    font-family: 'Roboto', sans-serif;
    /* height: 100vh; */
    margin: auto;
} 
#wrapper {
    width: 1200px;
    margin: auto;
    min-height: 1200px;
}
h1 , h2 {
    color: #edf7fd;
}
li{
    padding: 5px;
}
ul {
    list-style-type: none;
    padding: 0px;
}
a{
    text-decoration: none;
    color: white;
}
main{
    display: flex;
}
section{
    /* padding: 10px; */
    flex: auto;
}
footer{
    padding: 20px;
    color: #edf7fd;
    text-align: left;
}